.StartPage {
    position: relative;
    background: black;
    overflow: hidden;
}

.StartPage_Header {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;

    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 54px;
    max-width: 600px;
    font-weight: 400;
    line-height: 140%;
    text-shadow: #333 1px 2px 1px;
}

.StartPage_Fullwidth {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: block;
}

.VideoDesktop {
    display: block;
}

.VideoMobile {
    display: none;
}

@media (max-width: 764px) {
    .VideoDesktop {
        display: none;
    }
    .VideoMobile {
        display: block;
    }
}

/*@media (max-width: 1064px) and (min-height: 768px) {*/
/*    .StartPage_Fullwidth {*/
/*        height: calc(100vh - 72px);*/
/*    }*/
/*}*/

