.ChangePasswPage {
    position: relative;
    text-align: center;
    max-width: 453px;
    margin: 7rem auto;
}

.ChangePasswPage_Header {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 30px;
}

.ChangePasswPage_Form {
    width: 100%;
    max-width: 723px;
    margin: 0 auto;

}

.ChangePasswPage_Form_Element {
    margin-bottom: 30px;
    position: relative;
}

.ChangePasswPage_Form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #BEBEBE;
    border-radius: 50px;
    padding: 15px 25px;
    outline: none;
}

.ChangePasswPage_Form_Btn {
    width: 100%;
    padding: 19px 0;
    margin-top: 21px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
}

.ChangePasswPage_Form_Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.ChangePasswPage_Form_Element_Error {
    color: red;
    position: absolute;
}