.AccountPage {
    margin-top: 17px;
    text-align: start;
    padding-left: 23px;
    height: 100vh;
}

.AccountPage_Content {
    display: flex;
    flex-direction: column;
}

.AccountPage_Section {
    position: relative;
    min-width: 256px;
    max-width: 650px;
    border-radius: 20px;
    box-shadow: 10px 10px 29px 0 #00000036;
    padding: 36px 52px 94px 52px;
    display: flex;
}

.AccountPage_Section p{
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

.AccountPage_Section:nth-child(n) {
    margin-bottom: 31px;
}

.AccountPage_Section__Header {
    margin-bottom: 25px;
}

.AccountPage_Section__Info {
    margin-bottom: 39px;
}

.AccountPage_Section__Settings button {
    margin-top: 25px;
}

.AccountPage_Section__Icon {
    margin-right: 17px;
}

.AccountPage_Section__Logout {
    position: absolute;
    bottom: 32px;
    right: 58px;
    font-weight: 400;
    font-size: 22px;
}

/*Change password modal window*/
@keyframes background-in {
    0% {
        scale: 0 0.005;
    }
    33% {
        scale: 1 0.005;
    }
    66%,
    100% {
        scale: 1 1;
    }
}
.ModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.OpenModalBackground {
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
}
@keyframes modal-in {
    0%,
    66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
.Modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    background: #37353b;
    color: #f9f9f9;
    padding: 48px 40px;
    width: 300px;
    border-radius: 12px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.OpenModal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
}
.ClosedModal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}